<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="NoobSpace Login">
	    <meta name="author" content="Dhiraj Subramanian B">
	    <title>
	      NoobSpace
	    </title>
	    {% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'dashboard/content/bootstrap.min.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'dashboard/content/dashboard.css' %}" />
		<script src="{% static 'dashboard/scripts/jquery.js' %}"></script>
		<script src="{% static 'dashboard/scripts/bootstrap.min.js' %}"></script>
		<script src="{% static 'dashboard/scripts/dashboard.js' %}"></script>
	</head>
	<!-- should add a background color for the page -->
	<body style="background-color:#3c6478">
		<div class="container" id="login-page">
		<div class="row">
			<div class="col-lg-offset-4 col-lg-4">
				<h2 style="text-align: center; color: #ffffff; ">NoobSpace</h2>
			</div>
		</div>

    	<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<div class="panel panel-login">
					
					

					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a href="#" class="active" id="login-form-link">Login</a>
							</div>
							<div class="col-xs-6">
								<a href="#" id="register-form-link">Register</a>
							</div>
						</div>
						<hr>
					</div>
					
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<!-- Login page -->
								<form id="login-form" action="/" method="post" role="form" style="display: block;">
									{% csrf_token %}
									<div class="form-group">
										{{ lform.username }}
									</div>
									<div class="form-group">
										{{ lform.password }}
									</div>
									<div class="row">
										<div class="col-xs-offset-1 col-xs-10">
											<p class="text-center">
												<strong>{{ login_error }}</strong>
											</p>
										</div>
									</div>
									<div class="form-group">
										<input type="submit" name="login-submit" id="login-submit" tabindex="3" class="form-control btn btn-login" value="Log In">
									</div>

									<div class="row">
										<div class="col-xs-12">
											<a href="#"> <p class="text-center">Forgot Password ?</p> </a>
										</div>
									</div>
								</form>

								<!-- Register page -->
								<form id="register-form" action="/register/" method="post" role="form" style="display: none;">
									{% csrf_token %}
									<div class="form-group">
										{{ rform.username }}
									</div>
									<div class="form-group">
										{{ rform.email }}
									</div>
									<div class="form-group">
										{{ rform.fname }}
									</div>
									<div class="form-group">
										{{ rform.lname }}
									</div>								
									<div class="form-group">
										{{ rform.password }}
									</div>
									<div class="form-group">
										{{ rform.cpassword }}
									</div>
									<div class="row">
										<div class="col-xs-offset-1 col-xs-10">
											<p class="text-center">
												<strong>{{ register_error }}</strong>
											</p>
										</div>
									</div>
									<div class="form-group">
										<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
									</div>
								</form>
							
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	</body>
</html>